@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    <Layout ShowGotoTop="true" ShowCollapseBar="true" ShowFooter="@ShowFooter" SideWidth="0"
            IsPage="true" IsFullSide="@IsFullSide" IsFixedHeader="@IsFixedHeader" IsFixedFooter="@IsFixedFooter"
            TabDefaultUrl="/" UseTabSet="@UseTabSet" AdditionalAssemblies="new[] { GetType().Assembly }"
            Menus="@Menus" class="@Theme">
        <Header>
            <span class="ms-3 flex-sm-fill d-none d-sm-block">CodeFryDev</span>
            <div class="flex-fill d-sm-none">
            </div> 
        </Header>
        <Side>
            <div class="layout-banner">
                <img class="layout-logo" src="IconCodefrydev.svg" />
                <div class="layout-title">
                    <span>Web Client</span>
                </div>
            </div>
        </Side>
        <Main>
            <CascadingValue Value="this" IsFixed="true">
                @Body
            </CascadingValue>
        </Main>
        <Footer>
            <div class="text-center flex-fill">
                <a class="page-layout-demo-footer-link" href="https://codefrydev.com" target="_blank">CodeFrydev © @DateTime.Now.Year</a>
            </div>
        </Footer>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Layout>
</BootstrapBlazorRoot>
